.contaner{
    width: 100%;
    background: white;
    height: auto;
    padding: 20px;
}
.text{
    height: auto;
    width: 30.8%;
    float: left;
    padding: 10px;
    margin: 0;
}
.text div{
    height: auto;
    width: 93%;
    padding: 10px;
    margin: 0;
    background-color: #e7e7e7;
    float: left;
}
*{
    overflow-x: hidden;
}
.text div h1{
    padding-left: 10%;
    font-size: xx-large;
    margin: 0;
}
.text div h2{
    font-weight: lighter;
    padding-left: 10%;
    /* margin: 0; */
    font-size: small;
}

.pcontaner{
    height: auto;
    width: 100%;
    background: #e7e7e7;
}
.photo{
    height: auto;
    width: 300px;
    padding: 15px;
    float: left;
}
.photo div{
    height: auto;
    width: auto;
    margin: 0;
    /* padding: 5%; */
}
.our{
    text-align: center;
    text-transform: capitalize;
    font-size: -webkit-xxx-large;
}